<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Magic Boxes</title>
</head>
<body>
    <div id="wrapper">
        <div class="details">
            <h1>MAGIC BOXES</h1>
            <p><strong>Welcome to Magic Boxes, a whimsical web project that lets you unlock the magic of customizable boxes!</strong></p>
            <p>Start by typing '/box' in your browser. You'll see a single box appear. To make things even more exciting, add a number after '/box,' like '/box/4.' Suddenly, lots of boxes will pop up! For a touch of magic, try adding a color after the number, such as '/box/4/green.' The boxes will change color right before your eyes!</p>
        </div>
        <div class="playground">
            {% for i in range (0,num) %}
            <div class="box" style="background-color: {{color}};"></div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>